@using BlissBase.Model;

@{
    ViewBag.Title = Html.Localize("edit").ToString();
    RawSymbolImport raw = ViewData["raw"] as RawSymbolImport;
}
@if (Session["logged_in"] == null)
{
    <div class="container body-content">
        <h2>@Html.Localize("notLoggedInn")</h2>
    </div>
}
else
{
    <div class="container body-content">
        <h2 class="page-header">@Html.Localize("edit")</h2>

        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th>@Html.Localize("symId")</th>
                    <td>@raw.rawId</td>
                </tr>
                <tr>
                    <th>@Html.Localize("symName")</th>
                    <td>@raw.rawName</td>
                </tr>
                <tr>
                    <th>@Html.Localize("symImg")</th>
                    @{
                        var base64 = Convert.ToBase64String(raw.rawJpeg);
                        var image = String.Format("data:image/png;base64,{0}", base64);
                    }
                    <td><img src="@image" /></td>
                </tr>

                @using (Html.BeginForm())
                {
                    if (raw != null)
                    {
                        <tr>
                            <th>@Html.Localize("symType")</th>
                            <td>
                                <select class="form-control" name="symbolType">
                                    <option selected value="0">@Html.Localize("normSymbol")</option>
                                    <option value="1">@Html.Localize("indicator")</option>
                                    <option value="2">@Html.Localize("numeric")</option>
                                    <option value="3">@Html.Localize("latLetter")</option>
                                </select>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <input name="rawId" hidden value="@raw.rawId" />
                            <a class="btn btn-primary" href="@Url.Action("Index", "RawList")"><span class="glyphicon glyphicon-arrow-left"></span> @Html.Localize("back")</a>
                            <button type="submit" name="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-ok"></span> @Html.Localize("save")
                            </button>
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}